<%= render 'components/nav' %>
<h1>Lists</h1>
<div class="cards">
  <% @lists.each do |list| %>
    <%= link_to list_path(list) do  %>
      <div class="card-pick">
        <div class="card-pick-info">
          <h2> <%= list.name %></h2>
        </div>
      </div>
    <% end %>
  <% end %>
  <%= link_to new_list_path do  %>
    <div class="card-pick">
      <i class="fa-solid fa-plus fa-5x"></i>
    </div>
  <% end %>
</div>
