<div class="item-drawer">
  <div class="item-drawer-content">
    <h2> <%= @bookmark.comment %></h2>
  </div>
  <div class="item-drawer-button">
    <i class="fas fa-ellipsis-v"></i>
  </div>
  <div class="item-drawer-settings">
    <a href="#"><i class="fas fa-edit"></i></a>
    <a href="#"><i class="fas fa-trash"></i></a>
  </div>
  </div>
