
<div class="wrapper">
  <section id="section1">
    <a href="#section3" class="arrow__btn">‹</a>


  </div>
  <div class="card">
    <% @lists.each do |list| %>
      <div class="item">
        <%= link_to list_path(list) do  %>
          <div class="card-pick">
            <div class="card-pick-info">
              <h2> <%= list.name %></h2>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
    <a href="#section2" class="arrow__btn">›</a>
  </section>
</div>
