<div class="footer">
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
  <a href="https://www.freepnglogos.com/pics/film-reel">Film Reel from freepnglogos.com</a>
</div>
