<div class="card-diapo" on:click={toggleCard}>
    <div class="card-diapo-img show" style="background-image: url(image1.jpg)">
      <div class="card-diapo-text">
        <h2>The Bad</h2>
        <p>The diapo card</p>
      </div>
    </div>
    <div class="card-diapo-img" style="background-image: url(image2.jpg)">
      <div class="card-diapo-text">
        <h2>The Good</h2>
        <p>The diapo card</p>
      </div>
    </div>
    <div class="card-diapo-img" style="background-image: url(image3.jpg)">
      <div class="card-diapo-text">
        <h2>The Ugly</h2>
        <p>The diapo card</p>
      </div>
    </div>
  </div>
