<%= render 'components/nav' %>
<h2 class="center">Popular Movies</h2>
<div class="container">
  <div class="cards">
    <% @movies.each do |movie| %>
      <%= link_to show_tmdb_movies_path(movie) do  %>
        <div class="card-pick">
          <%= image_tag movie[:poster_url], alt: "text", class: "image" %>
          <div class="card-pick-info">
            <h2><%= movie[:title] %></h2>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
