body {
  min-height: 150vh;
  display: flex;
  flex-direction: column;
}

h2 {
  margin-top: 32px;
  z-index: 9999;
  color: white;
  size: 100px;
}

h3 {
  color: whitesmoke;
}

p {
  color: whitesmoke;
}

.center {
  text-align: center;
  margin: 0;
}
